<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Topic 3</title>
	<script src="js/angular.js"></script>
	<script src="js/index.js"></script>
	<link type="text/css" rel="stylesheet" href="css/index.css">
</head>
<body>
	<div class="div-content" ng-app="myApp" ng-controller="MoviesCtrl">
		<div class = "left-content">
			<div class = "div-title">
				<h1> My movies </h1>
			</div>
			<div class="div-movies">
				<ul class="ul-movies" ng-repeat="movie in movies">
					<li ng-click="set($index)" ng-class="{'active':select == $index}">
						<p><strong>{{ isEmpty(movie.title) }}</strong></p>
					</li>
				</ul>
			</div>
			<div class="div-movie-data">
				<ul class="ul-movies-data" >
					<li>
					    <p><strong>Title:</strong> {{ isEmpty(selectMovie.title) }}</p>
					    <p><strong>Year:</strong> {{ isEmpty(selectMovie.year) }}</p>
					    <p><strong>Duration:</strong> {{ isEmpty(selectMovie.duration) }}</p><br>
					    <p><strong>Cast:</strong> </p>
					    <ul class="ul-actor">
					    	<li ng-repeat="actor in selectMovie.cast">
					    		<p><strong>{{ isEmpty(actor.name + " " + actor.lastName) }}</strong> ({{ isEmpty(actor.age, " yrs old") }})</p>
					    	</li>
					   	</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="right-content">
			<div class="flyng-btn" ng-click="setMenu(0)">
				<p> Add </p>
			</div >
			<div class="flyng-btn" ng-click="setMenu(1)">
				<p> Edit </p>
			</div >
			<div class="flyng-btn" ng-click="setMenu(2)">
				<p> Remove </p>
			</div>
			
			<div class="menu">
				<p><h2>{{ menuOption }} menu</h2></p>
				
				<div id="form1">
					<form>
						<label>Title: <input type="text" ng-model="selectMovie.title"></label><br>
						<label>Year: <input type="text" ng-model="selectMovie.year"></label><br>
						<label>Duration: <input type="text" ng-model="selectMovie.duration"></label>
						<p><strong>Cast:</strong></p>
						<div ng-repeat="actor in selectMovie.cast" ng-class="{'odd': isOdd($index)}">
					    		<label>Name: <input type="text" placeholder="Name" ng-model="actor.name"></label><br>
					    		<label>Last Name: <input type="text" placeholder="LastName" ng-model="actor.lastName"></label><br>
					    		<label>Age: <input type="text" placeholder="Age" ng-model="actor.age"></label>
					    </div>
					    <div><button ng-click="newActor()">+</button></div>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>
</html>