<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Final Project</title>
        <!-- Dependencies -->
        <script src="modules/dependencies/angular.js"></script>
        <script src="modules/dependencies/ngStorage.js"></script>
        <script src="modules/dependencies/angular-ui-router.js"></script>
        <script src="modules/dependencies/oauth.js"></script>

        <!-- App modules -->
        <script src="modules/usefulAppMethods.js"></script>
        <script src="modules/classesFactory.js"></script>
        <script src="modules/sessionService.js"></script>
        <script src="modules/mainController.js"></script>
        <script src="modules/searchController.js"></script>
        <script src="modules/myPlayListController.js"></script>
        <script src="modules/localStorageController.js"></script>

        <!-- CSS stylesheet -->
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/index.css">
    </head>

    <body ng-app="app"  ng-controller="mainController">
        <div ng-controller="localStorageCtrl">
            <header class="appHeader">
                <h1>SPOOTIFY APP</h1>
                <small>Globant Bootcamp Final Project</small>
            </header>
            <div class="space-big"></div>

            <div ui-view></div>

            <div class = clearfix></div>

            <div ng-click="hide()" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center error-div alert alert-danger" ng-class="{ 'show': error }">
                <div class="close">
                    <small>X</small>
                </div>
                <b>ERROR!!: </b>{{ errorMessage }}
            </div>
            <button class="btn-danger center" ng-click="debug()">DEBUG BUTTON</button>
            <div class = clearfix></div>
            <div class="col-md-3" ng-show="showDebug">
                <p> SHOW: {{ display_name }} </p>
                <img src="{{ userImage }}" alt="nothing" class="img-circle" class="img-responsive">
            </div>
        </div>
    </body>
</html>

