/* Font and height */
html {
    font-size: 15px;
    font-family: 'Verdana', serif;
}

/* Box-sizing it's now border-box*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: lightGray;
}

/* Deleting unnecessary space*/

h1,
a,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}

/* Body box */
/*.div-content {
    width: 97%;
    margin: 0 auto;
}

/* Defining h1, h2, h3*/
/*
h1 {
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 15px;
}


.div-movies {
    text-align: center;
}

.div-movies h2 {
    color: lightgray;
}

.div-title,
.div-movies,
.div-movies-data,
.menu {
    float: left;
    background-color: White;
    margin: 10px auto;
    -webkit-box-shadow: 2px 2px 1px 0 rgba(50,50,50,0.75);
}

.div-title,
.div-movies,
.div-movies-data,
.menu {
    width: 100%;
}

/* Movies - List */
/*
.div-movies {
   text-align: center;
    padding: 5px;

    -webkit-touch-callout: none; /* iOS Safari
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/
/*
.div-movies > ul > li {
    padding: 20px;
    width: 100%;
}

.div-movies > ul > li:hover{
    background-color: lavender;
    cursor: pointer;
}

.active{
    background-color: lightgray;
}

.active > p {
    color: blue;
}

/* Movie Data */
/*
.div-movies-data {
    text-align: center;
    padding: 5px;
}

.div-movies-data > ul > li{
    padding: 3px 0;
}

/* Actors data */
/*
.div-movies-data > ul > li > ul > li{
    padding: 2px 0;
    width: 100%;
}

/*
.div-movies-data > ul > li > ul > li:nth-child(odd) {
    background-color:ghostwhite;
}
*/

/* Buttons */
/*
.flying-btn {
    float: left;
    margin: 5px auto;
    width: 100%;
	cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/
/*
.flying-btn div {
    user-select: none;
    -webkit-box-shadow: 2px 2px 1px 0 rgba(50,50,50,0.75);
    text-align:center;
    padding: 30px 10px;
    width: 100%;
    background-color: White;
}

.flying-btn div:hover {
	background-color: lavender;
	-webkit-box-shadow: 4px 4px 4px 0 rgba(50,50,50,0.75);
}

.flying-btn div:active {
	background-color: lightblue;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(50,50,50,0.75);
}

/* Edit content */
/*
.menu {
	padding: 15px;
}

.menu p {
    font-size: 20px;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    text-align: left;
}

.menu label {
    font-size: 13px;
}

.menu table {
    width: 100%;
    margin-top: 5px;
}

.menu table tr > td:first-child {
    margin-top: 6px;
    width: 15%;
}

.menu input {
    width: 100%;
    padding: 3px 0;
    margin: 2px 0;
}

/* Table actor */
/*
.actorEdit {
    border: 1px solid gray;
    padding: 6px 10px;
    margin: 5px 5px 5px 15px;
}

.odd {
    background: lavender;

}

.delete {
    cursor: pointer;
    text-align: right;
    width: 100%;
    padding-top: 5px ;
}

.delete > a:hover {
    color: red;
}

.close > span {
    text-align:right;
    float:right;
    border: solid 1px darkgray;
    color: gray;
    padding: 2px 5px 4px 5px;
    cursor: pointer;
    margin-right: 5px;

    -webkit-touch-callout: none; /* iOS Safari */
/*
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/
/*
.close > span:last-child{
    margin-top: 3px;
    margin-bottom: 5px;
    user-select: none;
    border-radius: 2px;
}

.close > span:hover {
    color: #303030;
    background-color: lavender;
}

.disabled > span:last-child {
    background-color: lavender;
    color: gray;
    cursor: default;
}

.disabled > span:last-child:hover {
    background-color: lavender;
    color: gray;
}

@media (min-width: 640px) {
    html {
        font-size: 12px;
    }
    .flying-btn {
        float: left;
        margin: 10px auto;
        width: 33%;
        cursor: pointer;
    }

    .left-content,
    .right-content {
        width: 50%;
        float: left;
    }

    .flying-btn div {
        width: 91%;
    }

    .div-movies ul > li {
        padding: 5px;
        width: 100%;
    }

    .div-title,
    .div-movies,
    .div-movies-data,
    .menu {
        width: 96%;
    }

    .menu p {
        font-size: 15px;
        width: 100%;
        padding-top: 5px;
        padding-left: 5px;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 14px;
    }
}