* {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Verdana';
	font-size: 12px;
}

body {
	background-color: LightGray;
}


ul {
	padding-top:5px
	padding-bottom:5px;
}

.div-movie-data, 
.div-movies {
	padding:10px;
}

.div-content {
	width: 95%;
	margin: 10px auto;
}

.left-content > div {
	background-color: White;
	margin: 15px auto;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(50,50,50,0.75);
}

.right-content > div {
	background-color: White;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(50,50,50,0.75);
}

.left-content > div {
	width: 98%;
}

.left-content,
.right-content {
	width: 50%;
	float:left;
}

.ul-movies {
	text-align: center;
	list-style: none;
	margin: 3px;

}

.ul-movies > li{
	padding: 2px;
	width:100%;
}

.ul-movies > li:hover{
	background-color: lavender;
	cursor: pointer;
}

.ul-movies-data p {
	text-align: center;
	list-style: none;
	margin: 3px;
}

.ul-actor {
	list-style: none;
	margin: 3px;
}

.ul-actor > li {
	margin: 5px;
}

 h1 {
 	font-size:25px;
 }

.div-title h1 {
	text-align: center;
	font-size: 50px;
	padding: 10px;
	
}

.active > p {
	color:blue;
}

.flyng-btn {
	text-align:center;
	width: 31%;
	display:inline-block;
	margin: 15px 5px;
	padding: 30px;
	cursor: pointer;
}

.flyng-btn:hover {
	background-color: lavender;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(50,50,50,0.75);
}

.flyng-btn:active {
	background-color: lightblue;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(50,50,50,0.75);
}

.menu {
	width: 98%;
	margin: 1px 5px;
	padding: 20px;
}


.menu input {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}

.menu p {
	margin-right:10px;
	margin-bottom:10px;
}

.odd {
	background:lavender;
}